* {
  box-sizing: border-box;
}

.panel-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
  height: 100%;
  width: 50%;
}

.panel {
  height: 100%;
  width: 40%;
  min-width: 300px;
  padding: 16px;

  overflow: hidden;

  border-radius: 8px;
  background-color: var(--frosted-bg-color);
  /* border: 1px solid var(--pw-lightgray); */
  filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 2px 8px);
  /* box-shadow: 0 7px 20px 5px #00000088; */
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  -webkit-font-smoothing: antialiased;
}

.left {
  justify-content: flex-start;
}

.right {
  justify-content: flex-end;
}
