* {
  box-sizing: border-box;
}

.panel-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
  height: 100%;
  width: 50%;
}

.panel {
  height: 100%;
  width: 40%;
  min-width: 300px;
  padding: 16px;

  overflow: hidden;

  border-radius: 12px;
  background-color: var(--frosted-bg-color);
  border: 1px solid var(--pw-lightgray);
  filter: drop-shadow(0 0 0.75rem var(--pw-lightgray));

  /* box-shadow: 0 7px 20px 5px #00000088; */
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
}

.left {
  justify-content: flex-start;
}

.right {
  justify-content: flex-end;
}
