.hamburger {
  /* add this on any interactive elements */
  pointer-events: auto;
  cursor: pointer;

  height: 36px;
  width: 36px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  border: 0.8px solid rgb(237, 237, 237);
  border-radius: 6px;
  color: rgb(45, 45, 45);
  background-color: rgb(246, 246, 246);
  font-family:
    Roboto,
    -apple-system,
    system-ui;
}

.hamburger:hover {
  background-color: rgb(237, 237, 237);
  transition: all 0.15s ease-out 0s;
}

.hamburger:focus {
}

.menu-icon {
  width: 24px;
  height: 24px;
  background-color: transparent;
}
