* {
  box-sizing: border-box;
}

.navbar {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  margin: 16px 16px 0px 16px;

  border-radius: 8px;
  background-color: var(--frosted-bg-color);
  filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 2px 8px);
}

.blank {
  padding: 8px 12px;
}
