* {
  box-sizing: border-box;
}

.navbar {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  margin: 16px 16px 0px 16px;

  border-radius: 8px;
  background-color: var(--frosted-bg-color);
  filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 2px 8px);
}

.left-cluster {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

.right-cluster {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
}

.title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
