.sun-controller {
  pointer-events: auto;

  border: 2px solid var(--pw-gray);
  border-radius: 12px;
  filter: drop-shadow(0 0 0.75rem --pw-black);
}

.location-input {
  display: flex;
  justify-content: space-between;
}

input {
  box-sizing: border-box;
  border: 0;
  flex-grow: 1;
  width: 100%;
}

input:hover {
  border: none;
}
