.location-button {
  height: 24px;
  padding: 12px 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: black;
  border: 1px solid var(--pw-orange);
  border-radius: 8px;

  cursor: pointer;
}

.button-body {
  font-weight: bold;
}
