* {
  box-sizing: border-box;
}

.navbar {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  margin: 16px 16px 0px 16px;

  border-radius: 12px;
  background-color: rgba(255, 255, 255, 1);
  filter: drop-shadow(0 0 0.75rem lightgray);
}

.title {
  font-family: monospace;
  font-size: 1.6em;
}

.blank {
  padding: 8px 12px;
}
