* {
  box-sizing: border-box;
}

.panel {
  width: 16.666%;
  height: 80vh;
  padding: 8px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  border-radius: 12px;
  background-color: white;
  border-color: blue;
}

.left {
}

.right {
}
