:root {
  --frosted-bg-color: rgba(255, 255, 255, 0.95);
  --pw-blue: #1818a5;
  --pw-teal: #009b77;
  --pw-pink: #ab008b;
  --pw-purple: #6638bd;
  --pw-orange: #f26344;
  --pw-lightgray: #bfbfbf;
  --pw-gray: #737373;
  --pw-darkgray: #262626;
  --pw-black: #000000;
}

html,
body,
#root {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: lightskyblue;
}

body {
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
span,
input {
  font-family:
    Roboto,
    -apple-system,
    system-ui;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.card {
  margin: 8px 8px 24px;
  border-bottom: 0.8px solid rgb(217, 217, 217);

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: space-between;
}

.interactive {
  pointer-events: auto;
}

.title {
  font-size: 1.4em;
  font-family:
    Roboto,
    -apple-system,
    system-ui;
  font-weight: 700;
}

.component-header {
  margin: 0 0 16px;
  min-height: 30px;
  font-size: 1.2em;
  letter-spacing: 2.5px;
  line-height: 20px;

  font-family:
    Roboto,
    -apple-system,
    system-ui;
  font-weight: 600;
  text-transform: uppercase;
  color: rgb(45, 45, 45);
}

.component-subheader {
  margin-top: 0;
  font-size: 1em;
  font-family:
    Roboto,
    -apple-system,
    system-ui;
  font-weight: 600;
}

.component-body {
  margin-top: 0;
  font-size: 1em;
  font-family:
    Roboto,
    -apple-system,
    system-ui;
  font-weight: 400;
}

.component-horizontal-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  margin-bottom: 8px;

  font-family:
    Roboto,
    -apple-system,
    system-ui;
}

.component-horizontal-container p {
  margin: 0;
}

.component-vertical-container {
  display: flex;
  justify-content: center;
  align-items: space-between;
  gap: 16px;
  margin-bottom: 16px;
}

.columns {
  display: flex;
  flex-direction: row;
}

.spaced-out {
  justify-content: space-between;
  align-items: center;
}
