html,
body,
#root {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: lightskyblue;
}

body {
  margin: 0;
}

.columns {
  display: flex;
  flex-direction: row;
}

.spaced-out {
  justify-content: space-between;
  align-items: center;
}
